* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    min-height: 20vh;
    background: url("BG/train.png") no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 200px;
    text-shadow: 5px 5px black;
    color: wheat;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: wheat;
    text-shadow: 2px 2px black;
    font-weight: 500px;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: ease-in-out;
    transition-duration: .5s;
}

.navbar a:hover:before{
    width: 100%;
}

.BigQuotedIt:hover {
    color: yellow;
    transition: 1.0s;
}